#php_value post_max_size 500M
#php_value upload_max_filesize 32M
#php_value max_file_uploads 100
#php_value max_execution_time 3000
#php_value max_input_time 6000

#SetEnvIf X-SSL-Emu on HTTPS=on
Options -Indexes
Options +FollowSymLinks
IndexIgnore */*
RewriteEngine On

#RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
#RewriteRule ^(.*)$ https://truebear.by/$1 [QSA,R=301,L]
#RewriteCond %{SERVER_PORT} !^443$
#RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [QSA,R=301,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^(.+)/$
RewriteRule ^(.+)/$ /$1 [R=301,L]

#RewriteRule ^(.*)dostavka-i-oplata$ https://truebear.by/delivery [R=301,L]
#RewriteRule ^(.*)kontakty$ https://truebear.by/contacts [R=301,L]
#RewriteRule ^(.*)mishki-so-skidkoj$ https://truebear.by/actions [R=301,L]
#RewriteRule ^(.*)shop/malenkie-40-90-sm$ https://truebear.by/shop/category/malenkie-miski-40-90-sm [R=301,L]
#RewriteRule ^(.*)shop/srednie-100-140-sm$ https://truebear.by/shop/category/srednie-miski-100-135-sm [R=301,L]
#RewriteRule ^(.*)shop/bolshie-150-300-sm$ https://truebear.by/shop/category/bolsie-miski-140-300-sm [R=301,L]
#RewriteRule ^(.*)shop/milashki$ https://truebear.by/shop/category/edinorogi-milaski-i-pandocki [R=301,L]
#RewriteRule ^(.*)shop/romanticheskie-mishki$ https://truebear.by/shop/category/otkrytki-s-komplimentami [R=301,L]
#RewriteRule ^(.*)product-category/malenkie-40-90-sm$ https://truebear.by/shop/category/malenkie-miski-40-90-sm [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki$ https://truebear.by/shop/category/bolsie-miski-140-300-sm [R=301,L]
#RewriteRule ^(.*)product-category/eksklyuzivnye-mishki$ https://truebear.by/shop/category/bolsie-miski-140-300-sm [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-tomas-sero-goluboj-85-sm$ https://truebear.by/shop/product/miska-tomas-85-sm-sero-goluboj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-oskar-white-120-sm$ https://truebear.by/shop/product/miska-oskar-120-sm-belyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/plyushevyj-mishka-bart-180-cm$ https://truebear.by/shop/product/miska-el-barto-190-sm-sero-goluboj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-luchistyj-pirozhok-molochnyj-160-sm$ https://truebear.by/shop/product/miska-i-love-hugs-160-sm-molocnyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-oskar-sero-goluboj-120-sm$ https://truebear.by/shop/product/miska-oskar-120-sm-sero-goluboj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-oskar-chajnaya-roza-120-sm$ https://truebear.by/shop/product/miska-oskar-120-sm-kremovyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-el-barto-molochnyj-190-sm$ https://truebear.by/shop/product/miska-el-barto-190-sm-molocnyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/plyushevyj-mishka-kelvin-180-cm$ https://truebear.by/shop/product/miska-kelvin-190-sm-molocnyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-brauni-180-sm$ https://truebear.by/shop/product/miska-brauni-180-sm-molocnyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/plyushevyj-mishka-oskar-pink-150-cm$ https://truebear.by/shop/product/miska-oskar-180-sm-rozovyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-pitti-molochnyj-140-sm$ https://truebear.by/shop/product/miska-pitti-140-sm-molocnyj [R=301,L]
#RewriteRule ^(.*)shop/bolshie-150-300-sm/plyushevyj-mishka-oskar-browni-125-cm$ https://truebear.by/shop/product/miska-browni-140-sm-molocnyj [R=301,L]
#RewriteRule ^(.*)shop/bolshie-150-300-sm/plyushevyj-mishka-garri-ser-150-cm-2$ https://truebear.by/shop/product/miska-garri-150-sm-seryj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-el-barto-140-sm$ https://truebear.by/shop/product/miska-el-barto-140-sm-sero-goluboj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-el-barto-whit-140-sm$ https://truebear.by/shop/product/miska-el-barto-140-sm-belyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-el-barto-pink-140-sm$ https://truebear.by/shop/product/miska-el-barto-140-sm-rozovyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-amyr-150-sm$ https://truebear.by/shop/product/miska-amur-150-sm-belyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/plyushevyj-mishka-oskar-white-1340-cm$ https://truebear.by/shop/product/miska-oskar-140-sm-belyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-kelvin-i-love-you-molochnyj-150-sm$ https://truebear.by/shop/product/miska-kelvin-150-sm-molocnyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/plyushevyj-mishka-kelvin-i-love-you-130-cm$ https://truebear.by/shop/product/miska-kelvin-150-sm-kofejnyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-luchistyj-pirozhok-fioletovyj-160-sm$ https://truebear.by/shop/product/miska-i-love-hugs-160-sm-sirenevyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-luchistyj-pirozhok-kapuchino-160-sm$ https://truebear.by/shop/product/miska-i-love-hugs-160-sm-kapucino [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-luchistyj-pirozhok-shokoladnyj-160-sm$ https://truebear.by/shop/product/miska-i-love-hugs-160-sm-sokoladnyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-alfred-140-sm$ https://truebear.by/shop/product/miska-alfred-140-sm-bezevyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-true-gentelman-zheltyj-150-sm$ https://truebear.by/shop/product/miska-truegentleman-150-cm-zeltyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-true-gentelman-chernyj-150-sm$ https://truebear.by/shop/product/miska-truegentleman-150-cm-cernyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-true-gentelman-krasnyj-150-sm$ https://truebear.by/shop/product/miska-truegentleman-150-cm-krasnyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-true-gentelman-belyj-150-sm$ https://truebear.by/shop/product/miska-truegentleman-150-cm-belyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-tomas-sero-goluboj-250-sm$ https://truebear.by/shop/product/miska-tomas-250-sm-sero-goluboj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/medved-ted-100-cm$ https://truebear.by/shop/product/ted-iz-filma-tretij-lisnij [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-kelvin-bezhevo-pudrovyj-150-sm$ https://truebear.by/shop/product/miska-kelvin-150-sm-pudrovyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/plyushevyj-mishka-i-love-hugs-pudrovyj-160-sm$ https://truebear.by/shop/product/miska-i-love-hugs-160-sm-pudrovyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/plyushevyj-mishka-frensik-nebesnyj-65-sm$ https://truebear.by/shop/product/miska-frensik-65-sm-nebesnyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-i-love-hugs-fuksiya-160-sm$ https://truebear.by/shop/product/miska-i-love-hugs-160-sm-fuksia [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/plyushevyj-mishka-i-love-hugs-mentolovyj-160-sm$ https://truebear.by/shop/product/miska-i-love-hugs-160-sm-mentolovyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/plyushevyj-mishka-lavli-pudrovyj-70-sm$ https://truebear.by/shop/product/miska-lavli-70-sm-pudrovyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-pitti-love-buryj-110-sm$ https://truebear.by/shop/product/miska-pitti-love-120-sm-buryj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/plyushevyj-mishka-foxy-95-cm$ https://truebear.by/shop/product/miska-foxy-95-sm [R=301,L]
#RewriteRule ^(.*)shop/malenkie-40-90-sm/mishka-oskar-chajnaya-roza-85-sm$ https://truebear.by/shop/product/miska-oskar-85-sm-kremovyj [R=301,L]
#RewriteRule ^(.*)shop/malenkie-40-90-sm/mishka-oskar-whit-belyj-85-sm$ https://truebear.by/shop/product/miska-oskar-85-sm-belyj [R=301,L]
#RewriteRule ^(.*)shop/malenkie-40-90-sm/mishka-oskar-sero-goluboj-85-sm$ https://truebear.by/shop/product/miska-oskar-85-sm-sero-goluboj [R=301,L]
#RewriteRule ^(.*)shop/malenkie-40-90-sm/plyushevyj-mishka-hanny-seryj-40-cm$ https://truebear.by/shop/product/miska-hunny-50-sm-seryj [R=301,L]
#RewriteRule ^(.*)shop/bolshie-150-300-sm/mishka-oskar-kremovyj-140-sm$ https://truebear.by/shop/product/miska-oskar-140-sm-kremovyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-red-220-sm$ https://truebear.by/shop/product/miska-red-exclusive-250-sm [R=301,L]
#RewriteRule ^(.*)shop/malenkie-40-90-sm/mishka-tomas-bezhevyj-85-sm$ https://truebear.by/shop/product/miska-tomas-85-sm-bezevyj [R=301,L]
#RewriteRule ^(.*)shop/malenkie-40-90-sm/mishka-tomas-kofejnyj-85-sm$ https://truebear.by/shop/product/miska-tomas-85-sm-kofejnyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-tomas-kofejnyj-120-sm$ https://truebear.by/shop/product/miska-tomas-120-cm-kofejnyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-tomas-belyj-120-sm$ https://truebear.by/shop/product/miska-tomas-120-cm-belyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-tomas-sero-goluboj-120-sm$ https://truebear.by/shop/product/miska-tomas-120-cm-sero-goluboj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/plyushevyj-mishka-tomas-kofejnyj-190-sm$ https://truebear.by/shop/product/miska-tomas-190-sm-kofejnyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/plyushevyj-mishka-tomas-belosnezhnyj-190-sm$ https://truebear.by/shop/product/miska-tomas-190-sm-belosneznyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/plyushevyj-mishka-tomas-sero-goluboj-190-sm$ https://truebear.by/shop/product/miska-tomas-190-sm-sero-goluboj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-balu-molochnyj-250-sm$ https://truebear.by/shop/product/miska-balu-250-sm-molocnyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/mishka-toni-truebear-kofejnyj-250-sm$ https://truebear.by/shop/product/miska-toni-truebear-250-sm-kofejnyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/plyushevyj-mishka-balu-molochnyj-230-sm$ https://truebear.by/shop/product/miska-balu-230-sm-molocnyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/plyushevyj-mishka-toni-truebear-kofejnyj-230-sm$ https://truebear.by/shop/product/miska-toni-230-sm-kofejnyj [R=301,L]
#RewriteRule ^(.*)shop/malenkie-40-90-sm/plyushevyj-mishka-nik-80-cm$ https://truebear.by/shop/product/miska-nik-85-sm-molocnyj [R=301,L]
#RewriteRule ^(.*)shop/milashki/volshebnyj-edinorog-zefirka-45-sm-limonnyj$ https://truebear.by/shop/product/edinorog-zefirka-45-sm-limonnyj [R=301,L]
#RewriteRule ^(.*)shop/milashki/volshebnyj-edinorog-zefirka-45-sm-molochnyj$ https://truebear.by/shop/product/edinorog-zefirka-45-sm-belyj [R=301,L]
#RewriteRule ^(.*)shop/milashki/volshebnyj-edinorog-zefirka-45-sm-rozovyj$ https://truebear.by/shop/product/edinorog-zefirka-45-sm-rozovyj [R=301,L]
#RewriteRule ^(.*)shop/milashki/volshebnyj-edinorog-zefirka-45-sm-mentolovyj$ https://truebear.by/shop/product/edinorog-zefirka-45-sm-mentolovyj [R=301,L]
#RewriteRule ^(.*)shop/milashki/volshebnyj-edinorog-zefirka-55-sm-rozovyj$ https://truebear.by/shop/product/edinorog-zefirka-55-sm-rozovyj [R=301,L]
#RewriteRule ^(.*)shop/milashki/volshebnyj-edinorog-zefirka-55-sm-molochnyj$ https://truebear.by/shop/product/edinorog-zefirka-55-sm-belyj [R=301,L]
#RewriteRule ^(.*)shop/milashki/panda-baunti-85-sm$ https://truebear.by/shop/product/panda-baunti-85-sm [R=301,L]
#RewriteRule ^(.*)shop/milashki/panda-baunti-120-cm$ https://truebear.by/shop/product/panda-baunti-120-sm [R=301,L]
#RewriteRule ^(.*)shop/milashki/panda-baunti-150-sm$ https://truebear.by/shop/product/panda-baunti-150-sm [R=301,L]
#RewriteRule ^(.*)shop/milashki/panda-baunti-175-sm$ https://truebear.by/shop/product/panda-baunti-170-sm [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/pljushevyj-medved-true-bear-3-metra-molochnyj$ https://truebear.by/shop/product/plusevyj-medved-3-metra-molocnyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/pljushevyj-medved-3-metra-kofejnyj$ https://truebear.by/shop/product/plusevyj-medved-3-metra-kofejnyj [R=301,L]
#RewriteRule ^(.*)shop/romanticheskie-mishki/otkrytka-023$ https://truebear.by/shop/product/celuu-lublu [R=301,L]
#RewriteRule ^(.*)shop/romanticheskie-mishki/otkrytka-8$ https://truebear.by/shop/product/inogda-teba-hocetsa-ukusit [R=301,L]
#RewriteRule ^(.*)shop/romanticheskie-mishki/otkrytka-20$ https://truebear.by/shop/product/ty-lucse-vseh [R=301,L]
#RewriteRule ^(.*)shop/romanticheskie-mishki/otkrytka-1-2$ https://truebear.by/shop/product/a-lublu-tvoi-formy-sek [R=301,L]
#RewriteRule ^(.*)shop/romanticheskie-mishki/otkrytka-9$ https://truebear.by/shop/product/a-podaru-tebe-lubov [R=301,L]
#RewriteRule ^(.*)shop/romanticheskie-mishki/otkrytka-1$ https://truebear.by/shop/product/i-lava-you [R=301,L]
#RewriteRule ^(.*)shop/romanticheskie-mishki/otkrytka-3$ https://truebear.by/shop/product/ne-perestau-dumat-o-tebe [R=301,L]
#RewriteRule ^(.*)shop/romanticheskie-mishki/otkrytka-11$ https://truebear.by/shop/product/ty-idealnaa-pravda [R=301,L]
#RewriteRule ^(.*)shop/romanticheskie-mishki/otkrytka-18$ https://truebear.by/shop/product/u-nas-s-toboj-mur-mur [R=301,L]
#RewriteRule ^(.*)shop/romanticheskie-mishki/otkrytka-5$ https://truebear.by/shop/product/a-dumau-tolko-o-tebe-cestno [R=301,L]
#RewriteRule ^(.*)shop/romanticheskie-mishki/otkrytka-4$ https://truebear.by/shop/product/ty-moj-kusocek-scasta [R=301,L]
#RewriteRule ^(.*)shop/romanticheskie-mishki/otkrytka-21$ https://truebear.by/shop/product/s-dnem-rozdenia [R=301,L]
#RewriteRule ^(.*)shop/romanticheskie-mishki/otkrytka-7$ https://truebear.by/shop/product/happy-birthday [R=301,L]
#RewriteRule ^(.*)shop/romanticheskie-mishki/otkrytka-027$ https://truebear.by/shop/product/lublu-teba-kak-kotiki-valeranku [R=301,L]
#RewriteRule ^(.*)shop/romanticheskie-mishki/otkrytka-032$ https://truebear.by/shop/product/ty-moe-scaste [R=301,L]
#RewriteRule ^(.*)shop/romanticheskie-mishki/otkrytka-10$ https://truebear.by/shop/product/ty-samyj-sladkij-kusocek [R=301,L]
#RewriteRule ^(.*)shop/srednie-100-140-sm/plyushevyj-mishka-alex-belosnezhnyj-110-sm$ https://truebear.by/shop/product/miska-alex-110-cm-belyj [R=301,L]
#RewriteRule ^(.*)shop/srednie-100-140-sm/plyushevyj-mishka-alex-sero-goluboj-110-sm$ https://truebear.by/shop/product/miska-alex-110-cm-sero-goluboj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/plyushevyj-mishka-alex-kofejnyj-110-sm$ https://truebear.by/shop/product/miska-alex-110-cm-kofejnyj [R=301,L]
#RewriteRule ^(.*)blog/nemnogo-o-nashej-kompanii$ https://truebear.by/blog/post/lucsij-magazin-plusevyh-misek-i-magkih-igrusek-v-belarusi [R=301,L]
#RewriteRule ^(.*)blog/sovet-1-kak-pravilno-vybrat-i-kupit-pljushevogo-medvedja-ili-mjagkuju-igrushku-v-podarok-mame-babushke-rebenku-podruge-drugu-ili-devushke$ https://truebear.by/blog/post/sovet-no1-kak-pravilno-vybrat-i-kupit-plusevogo-medveda-ili-magkuu-igrusku-v-podarok-mame-babuske-rebenku-podruge-drugu-ili-devuske [R=301,L]
#RewriteRule ^(.*)blog/kak-pravilno-izmerit-plyushevogo-medvedya-2$ https://truebear.by/blog/post/kak-kupit-plusevogo-medveda-pravila-izmerenia-plusevyh-misek [R=301,L]
#
#RewriteRule ^(.*)shop/page/4$ https://truebear.by/shop/page4 [R=301,L]
#RewriteRule ^(.*)shop/page/2$ https://truebear.by/shop/page2 [R=301,L]
#RewriteRule ^(.*)shop/page/3$ https://truebear.by/shop/page3 [R=301,L]
#RewriteRule ^(.*)product/mishka-brauni-180-sm$ https://truebear.by/shop/product/miska-brauni-180-sm-molocnyj [R=301,L]
#RewriteRule ^(.*)product/mishka-luchistyj-pirozhok-fioletovyj-160-sm$ https://truebear.by/shop/product/miska-i-love-hugs-160-sm-sirenevyj [R=301,L]
#RewriteRule ^(.*)product/plyushevyj-mishka-oskar-pink-150-cm$ https://truebear.by/shop/product/miska-oskar-180-sm-rozovyj [R=301,L]
#RewriteRule ^(.*)shop/eksklyuzivnye-mishki/panda-baunti-175-sm$ https://truebear.by/shop/product/panda-baunti-170-sm [R=301,L]
#RewriteRule ^(.*)product/mishka-tomas-sero-goluboj-250-sm$ https://truebear.by/shop/product/miska-tomas-250-sm-sero-goluboj [R=301,L]
#RewriteRule ^(.*)product/mishka-oskar-sero-goluboj-120-sm$ https://truebear.by/shop/product/miska-oskar-120-sm-sero-goluboj [R=301,L]
#RewriteRule ^(.*)product/mishka-true-gentelman-zheltyj-150-sm$ https://truebear.by/shop/product/miska-truegentleman-150-cm-zeltyj [R=301,L]
#RewriteRule ^(.*)shop/bolshie-150-300-sm/mishka-red-220-sm$ https://truebear.by/shop/product/miska-red-exclusive-250-sm [R=301,L]
#RewriteRule ^(.*)shop/bolshie-150-300-sm/mishka-el-barto-140-sm$ https://truebear.by/shop/product/miska-el-barto-140-sm-sero-goluboj [R=301,L]
#RewriteRule ^(.*)shop/bolshie-150-300-sm/mishka-true-gentelman-chernyj-150-sm$ https://truebear.by/shop/product/miska-truegentleman-150-cm-cernyj [R=301,L]
#RewriteRule ^(.*)shop/srednie-100-140-sm/mishka-tomas-sero-goluboj-120-sm$ https://truebear.by/shop/product/miska-tomas-120-cm-sero-goluboj [R=301,L]
#RewriteRule ^(.*)shop/malenkie-40-90-sm/mishka-tomas-sero-goluboj-85-sm$ https://truebear.by/shop/product/miska-tomas-85-sm-sero-goluboj [R=301,L]
#RewriteRule ^(.*)shop/bolshie-150-300-sm/mishka-el-barto-whit-140-sm$ https://truebear.by/shop/product/miska-el-barto-140-sm-belyj [R=301,L]
#RewriteRule ^(.*)shop/srednie-100-140-sm/mishka-oskar-chajnaya-roza-120-sm$ https://truebear.by/shop/product/miska-oskar-120-sm-kremovyj [R=301,L]
#RewriteRule ^(.*)shop/bolshie-150-300-sm/mishka-true-gentelman-belyj-150-sm$ https://truebear.by/shop/product/miska-truegentleman-150-cm-belyj [R=301,L]
#RewriteRule ^(.*)shop/bolshie-150-300-sm/mishka-luchistyj-pirozhok-shokoladnyj-160-sm$ https://truebear.by/shop/product/miska-i-love-hugs-160-sm-sokoladnyj [R=301,L]
#RewriteRule ^(.*)shop/bolshie-150-300-sm/mishka-true-gentelman-krasnyj-150-sm$ https://truebear.by/shop/product/miska-truegentleman-150-cm-krasnyj [R=301,L]
#RewriteRule ^(.*)shop/bolshie-150-300-sm/plyushevyj-mishka-tomas-belosnezhnyj-190-sm$ https://truebear.by/shop/product/miska-tomas-190-sm-belosneznyj [R=301,L]
#RewriteRule ^(.*)shop/srednie-100-140-sm/mishka-pitti-love-buryj-110-sm$ https://truebear.by/shop/product/miska-pitti-love-120-sm-buryj [R=301,L]
#RewriteRule ^(.*)shop/bolshie-150-300-sm/plyushevyj-mishka-balu-molochnyj-230-sm$ https://truebear.by/shop/product/miska-balu-230-sm-molocnyj [R=301,L]
#RewriteRule ^(.*)shop/bolshie-150-300-sm/plyushevyj-mishka-toni-truebear-kofejnyj-230-sm$ https://truebear.by/shop/product/miska-toni-230-sm-kofejnyj [R=301,L]
#RewriteRule ^(.*)shop/bolshie-150-300-sm/plyushevyj-mishka-i-love-hugs-mentolovyj-160-sm$ https://truebear.by/shop/product/miska-i-love-hugs-160-sm-mentolovyj [R=301,L]

# if /admin, to backend
RewriteCond %{REQUEST_URI} ^/admin/$
RewriteRule ^(admin)/$ /$1 [R=301,L]
RewriteCond %{REQUEST_URI} ^/admin
RewriteRule ^admin(/.+)?$ /backend/web/$1 [L,PT]

RewriteCond %{REQUEST_URI} ^.*$
RewriteRule ^(.*)$ /frontend/web/$1

# BEGIN EXPIRES
#<IfModule mod_expires.c>
#    ExpiresActive on
#    ExpiresDefault "access plus 1 month"
#    ExpiresByType image/jpg "access plus 1 month"
#    ExpiresByType image/jpeg "access plus 1 month"
#    ExpiresByType image/gif "access plus 1 month"
#    ExpiresByType image/png "access plus 1 month"
#    ExpiresByType text/plain "access plus 1 month"
#    ExpiresByType text/javascript "access plus 1 month"
#    ExpiresByType application/javascript "access plus 1 month"
#    ExpiresByType application/x-javascript "access plus 1 month"
#    ExpiresByType text/css "access plus 1 month"
#    ExpiresByType application/x-icon "access plus 1 month"
#</IfModule>
#<IfModule mod_deflate.c>
#    <IfModule mod_filter.c>
#        AddOutputFilterByType DEFLATE text/html text/plain text/xml
#        AddOutputFilterByType DEFLATE text/css text/javascript
#        AddOutputFilterByType DEFLATE application/x-javascript application/javascript application/ecmascript
#        AddOutputFilterByType DEFLATE application/rss+xml
#        AddOutputFilterByType DEFLATE application/xml application/xhtml+xml
#    </IfModule>
#</IfModule>
# END EXPIRES