#php_value post_max_size 500M
#php_value upload_max_filesize 32M
#php_value max_file_uploads 100
#php_value max_execution_time 3000
#php_value max_input_time 6000

#SetEnvIf X-SSL-Emu on HTTPS=on
#Options -Indexes
Options +FollowSymLinks
IndexIgnore */*
RewriteEngine On

#RewriteCond %{HTTP_HOST} ^shop\.by [OR]
#RewriteCond %{HTTP_HOST} ^www\.shop\.by [OR]
#RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
#RewriteRule ^(.*)$ https://shop.by/$1 [QSA,R=301,L]
#RewriteCond %{SERVER_PORT} !^443$
#RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [QSA,R=301,L]

# если /admin, то в backend
RewriteCond %{REQUEST_URI} ^/admin/$
RewriteRule ^(admin)/$ /$1 [R=301,L]
RewriteCond %{REQUEST_URI} ^/admin
RewriteRule ^admin(/.+)?$ /backend/web/$1 [L,PT]

RewriteCond %{REQUEST_URI} ^.*$
RewriteRule ^(.*)$ /frontend/web/$1

# BEGIN EXPIRES
#<IfModule mod_expires.c>
#ExpiresActive On
#ExpiresDefault "access plus 6 month"
#ExpiresByType text/css "access plus 6 month"
#ExpiresByType text/plain "access plus 6 month"
#ExpiresByType image/gif "access plus 6 month"
#ExpiresByType image/png "access plus 6 month"
#ExpiresByType image/jpeg "access plus 6 month"
#ExpiresByType application/x-javascript "access plus 6 month"
#ExpiresByType application/javascript "access plus 6 month"
#ExpiresByType application/x-icon "access plus 6 month"
#</IfModule>
#<IfModule mod_deflate.c>
#    <IfModule mod_filter.c>
#        AddOutputFilterByType DEFLATE text/html text/plain text/xml
#        AddOutputFilterByType DEFLATE text/css text/javascript
#        AddOutputFilterByType DEFLATE application/x-javascript application/javascript application/ecmascript
#        AddOutputFilterByType DEFLATE application/rss+xml
#        AddOutputFilterByType DEFLATE application/xml application/xhtml+xml
#    </IfModule>
#</IfModule>
# END EXPIRES