.header-v1 {
    background: #222222
}

.header-v2 {
    background: #222
}

.header-v3 {
    background: #fff
}

a {
    color: #555
}

a:hover, a:focus {
    color: #000;
    text-decoration: none
}

.border {
    border: 1px solid #e5e5e5
}

.border-left {
    border-left: 1px solid #e5e5e5
}

.border-right {
    border-right: 1px solid #e5e5e5
}

.border-top {
    border-top: 1px solid #e5e5e5
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5
}

.desc {
    color: #555
}

.white {
    color: #fff
}

.black {
    color: #000
}

.dark {
    color: #000
}

.gray {
    color: #555
}

.silver {
    color: #999
}

.navi {
    color: #1b2b3a
}

.bg-navi {
    background: #1b2b3a
}

.blue {
    color: #43567e
}

.bg-blue {
    background: #43567e
}

.smoke {
    color: #ccc
}

.bg-white {
    background: #fff
}

.bg-dark {
    background: #000
}

body, h1, .h1, h2, .h2, .tab-products .nav-tabs, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Barlow", sans-serif;
    line-height: 28px;
    font-size: 18px;
    font-weight: 400
}


.section-service-v1 .service-v1 {
    margin: 0;
    padding: 50px 0
}

.section-service-v1 .service {
    line-height: 23px;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    border: 2px solid #f4f4f4
}

@media screen and (max-width: 767px) {
    .section-service-v1 .service {
        padding: 30px 20px;
        margin-bottom: 20px
    }
}

@media (min-width: 576px) and (max-width: 1199px) {
    .section-service-v1 .service {
        margin-bottom: 30px
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .section-service-v1 .service {
        padding: 30px 20px
    }
}

.section-service-v1 .service a {
    text-decoration: none;
    line-height: 50px;
    margin-right: 20px;
    color: #222;
    font-size: 40px
}

@media screen and (max-width: 767px) {
    .section-service-v1 .service a {
        font-size: 30px;
        line-height: 74px
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .section-service-v1 .service a {
        line-height: 74px
    }
}

.section-service-v1 .service .service-info h4 {
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #222
}

@media screen and (max-width: 767px) {
    .section-service-v1 .service .service-info h4 {
        font-size: 18px
    }
}

.section-service-v1 .service .service-info p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #c90215;
    font-size: 18px
}

@media screen and (max-width: 767px) {
    .section-service-v1 .service .service-info p {
        font-size: 16px
    }
}
.page-content {
    padding-bottom: 52px;
    padding-top: 10px;
    width: 100%;
}
.myaccount {
    margin:0 0 60px 0;
}
.myaccount .engoc-account-heading {
    padding: 25px 0;
    margin-bottom: 50px;
    border-bottom: 1px solid #eaeaea;
    width: 100%
}

@media screen and (max-width: 767px) {
    .myaccount .engoc-account-heading {
        margin-bottom: 20px
    }
}

.myaccount .engoc-account-heading h3 {
    font-family: "Barlow", sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700
}

.myaccount .account-element.login {
    background-color: #f1f5f8
}

.myaccount .account-element {
    max-width: 560px;
    width: 560px;
    border: 2px solid #f0f0f0;
    margin: 0 auto
}

@media screen and (max-width: 1199px) {
    .myaccount .account-element {
        max-width: 100%
    }
}

@media (max-width: 991px) {
    .myaccount .account-element.e-left {
        margin-top: 70px
    }
}

@media (max-width: 575px) {
    .myaccount .account-element.e-left {
        margin-top: 50px
    }
}

.myaccount form {
    padding: 0 40px;
    width: 100%
}

@media screen and (max-width: 767px) {
    .myaccount form {
        padding: 0 20px
    }
}

.myaccount .form-groups {
    margin-bottom: 42px
}

.myaccount .form-groups label {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    color: #333;
    margin-bottom: 17px;
    font-weight: 700
}

.myaccount .form-groups input {
    height: 54px;
    border: 1px solid #eaeaea;
    padding-left: 33px;
    margin-bottom: 30px;
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0
}

.myaccount .form-groups input:focus {
    outline: none;
    box-shadow: none
}

.myaccount .form-groups input::-webkit-input-placeholder {
    color: #999999;
    font-size: 14px
}

.myaccount .form-groups input:-moz-placeholder {
    color: #999999;
    font-size: 14px
}

.myaccount .form-groups input::-moz-placeholder {
    color: #999999;
    font-size: 14px
}

.myaccount .form-groups input:-ms-input-placeholder {
    color: #999999;
    font-size: 14px
}

.myaccount .btn-submit {
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    width: 159px;
    height: 54px;
    line-height: 54px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    background: #222;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .3s
}

.myaccount .btn-submit:hover {
    background: #c50215
}

.myaccount .checkbox label {
    color: #666666
}

.myaccount .checkbox label:before {
    border-radius: 50%;
    content: "";
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 3px;
    margin-left: -23px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out
}

.myaccount .checkbox label:after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -24px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555
}

.myaccount .checkbox.checkbox-default input[type="checkbox"], .myaccount .checkbox.checkbox-default input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer
}

.myaccount .checkbox.checkbox-default input[type="checkbox"]:checked + label:after, .myaccount .checkbox.checkbox-default input[type="radio"]:checked + label:after {
    font-family: 'FontAwesome Free';
    content: "\f00c"
}

.btn-lostpwd {
    font-family: "Barlow",sans-serif;
    font-size: 16px;
    color: #999999;
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
    transition: .3s;
}